<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= msgs.title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>    
    <nav class="navbar navbar-default">
        <div class="container-fluid">     
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/restaurant_dashboard"><%= msgs.heading %></a></li>                
            </ul>          
        </div>
      </nav>
      <div class="sidenav">
        <div class="navbar-header" align='center'>           
            <a class="navbar-brand" href="/"><img class="logoimage" src="img/userlogo.jpg">
               <%= user.username %></a>       
        </div>
        <br><br>
        <br><br>
        <a href="/donate"><p><%= msgs.donate %></p></a>
        <a class="active" href="/donationshistory"><p><%= msgs.history %></p></a>
        <a href="/donationprocess"><%= msgs.process %></a>
        <a href="#clients"><%= msgs.profile %></a>
    </div>
    <div class="container">        
        <div class="sectionDivider35">
            <div id="barchart_material"></div>            
        </div> 
        <div class="sectionDivider65 verticalAlignCenter">
            <% if(donCount != '0'){ %>
         <br>
         <br>
         <p class = "brownAndbig">   <%= msgs.congrats %>                
                <%= donCount %>  <%= msgs.peopleFed %>    </p>
            <% } %>    
            <p class = "brownAndbig">   <%= msgs.quote %>   </p>          
        </div>       
      </div>
      <br>
      <br>
      <div class="container">        
        <div id="barchart_material"></div>                       

        <table class="table" align="center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"> <%= msgs.menu %></th>
                <th scope="col"> <%= msgs.cuisine %></th>
                <th scope="col"> <%= msgs.pcount %></th>
                <th scope="col"> <%= msgs.datetime %></th>
                <th scope="col"> <%= msgs.addr %></th>
                <th scope="col"> <%= msgs.allergyinfo %></th>
                <th scope="col"> <%= msgs.splnotes %></th>
              </tr>
            </thead>
            <tbody>
               
                <% for(var item in donList) { %>
                    <tr>
                        <th scope="row"><%= parseInt(item)+1 %></th>
                        <td> <%= donList[item].menu %></td>
                        <td> <%= donList[item].cuisine %></td>
                        <td> <%= donList[item].count %></td>
                        <td> <%= donList[item].pickuptime %></td>
                        <td> <%= donList[item].addr %></td>
                        <td> <%= donList[item].allergy %></td>
                        <td> <%= donList[item].notes %></td>
                      </tr>
                    <% } %>
                          
            </tbody>
          </table>

      </div>
     <script type="text/javascript">
     var c = <%- donCount %>;   
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Year', 'Number of People Fed'],
            ['2018', 0],
            ['2019', 0],
            ['2020', c]
          ]);
          var options = {
            chart: {
              title: 'Donations Summary'             
            },
            colors: ['#1e1408']
           // bars: 'horizontal' // Required for Material Bar Charts.
          };
          var chart = new google.charts.Bar(document.getElementById('barchart_material'));  
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
      </script>
</body>

</html>