<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= msgs.title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>    
    <nav class="navbar navbar-default">
        <div class="container-fluid">     
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/restaurant_dashboard"><%= msgs.heading %></a></li>                
            </ul>          
        </div>
      </nav>
      <div class="sidenav">
        <div class="navbar-header" align='center'>           
            <a class="navbar-brand" href="/"><img class="logoimage" src="img/userlogo.jpg">
               <%= user.username %></a>       
        </div>
        <br><br>
        <br><br>
        <a href="/donate"><p><%= msgs.donate %></p></a>
        <a class="active" href="/donationshistory"><p><%= msgs.history %></p></a>
        <a href="/donationprocess"><%= msgs.process %></a>
        <a href="#clients"><%= msgs.profile %></a>
    </div>
    <div class="container">        
        <div class="sectionDivider33">
            <div id="barchart_material"></div>            
        </div>         
      </div>
      <br>
      <br>
      <div class="container bgBrown">        
        <div id="barchart_material"></div>        
        hello
        -----list of donations----
      </div>
     <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Total Donations', 'Number of People Fed'],
            ['1', 100],
            ['2', 50]
          ]);
          var options = {
            chart: {
              title: 'Donations Summary',
              subtitle: 'A summary of life time donations of restaurant',
            },
           // bars: 'horizontal' // Required for Material Bar Charts.
          };
          var chart = new google.charts.Bar(document.getElementById('barchart_material'));  
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
      </script>
</body>

</html>