<!DOCTYPE html>
<html lang="en">

<head>
    <title>FoodStrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

    <style>

/* side menu */

.sidenav2 {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #4CAF50; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav2 */
}

/* The navigation menu links */
.sidenav2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav2 a:hover {
  color: #FFFFFF;
}

/* Position and style the close button (top right corner) */
.sidenav2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav2 (less padding and a smaller font size) */
    </style>
</head>

<body>

  <nav class="navbar navbar-default">
        <div class="container-fluid">
              <span onclick="openNav()" style="font-size:30px;cursor:pointer"> <a class="navbar-brand">&#9776;</a></span>
            <ul class="nav navbar-nav navbar-center">
                <li><p class="fontDashheading" style=" color: white;"><%=msgsValues.title%></p></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                   <li><a class="navbar-brand" href="/"><img class="logoimage" src="img/logo.JPG"></a></li>
          </ul>
        </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br><br>
     <a href="/shelter_dashboard"><%= msgs.dashboard %></a> <br>
    <a href="/shelter_claim"><%=msgsValues.claim%></a><br>
    <a href="/past_claim" class="active"><%=msgsValues.history%></a><br>
    <a href="/shelter_profile"><%=msgsValues.profile%></a><br>
    <a href="/"><%=msgsValues.LOGOUT%></a><br>
  </div>
<div id="main">
  <div class="container">
    <div class="sectionDivider35">
        <div id="barchart_material"></div>
    </div>
      <div class="sectionDivider65 verticalAlignCenter">
          <% if(donCount != '0'){ %>
       <br>
       <br>
       <p class = "brownAndbig">   <%= msgs.congrats %>
              <%= donCount %>  <%= msgs.peopleFed %>    </p>
          <% } %>

          <p class = "brownAndbig">   <%= msgsValues.quote %>   </p>

      </div>
    </div>
    <br>
    <br>
    <div class="container">

      <table id="myTable" class="table table-striped" align="center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"> <%= msgs.menu %></th>
              <th scope="col"> <%= msgs.cuisine %></th>
              <th scope="col"> <%= msgs.pcount %></th>
              <th scope="col"> <%= msgs.datetime %></th>
              <th scope="col"> <%= msgs.addr %></th>
              <th scope="col"> <%= msgs.allergyinfo %></th>
              <th scope="col"> <%= msgs.splnotes %></th>
              <th scope="col"> <%= msgs.shelter %></th>
              <th scope="col"> <%= msgs.volunteer %></th>
              <th scope="col"> <%= msgs.status %></th>
            </tr>
          </thead>
          <tbody>

              <% for(var item in donList) { %>
                  <tr>
                      <th scope="row"><%= parseInt(item)+1 %></th>
                      <td> <%= donList[item].menu %></td>
                      <td> <%= donList[item].cuisine %></td>
                      <td> <%= donList[item].count %></td>
                      <td> <%= donList[item].pickuptime %></td>
                      <td> <%= donList[item].addr %></td>
                      <td> <%= donList[item].allergy %></td>
                      <td> <%= donList[item].notes %></td>
                      <td> <%= donList[item].shelter %></td>
                      <td> <%= donList[item].volunteer %></td>
                      <td> <%= donList[item].status %></td>
                    </tr>
                  <% } %>

          </tbody>
        </table>

    </div>
  </div>

</body>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
var c = <%- donCount %>;
   google.charts.load('current', {'packages':['bar']});
   google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
     var data = google.visualization.arrayToDataTable([
       ['Year', 'Number of People Fed'],
       ['2018', 0],
       ['2019', 0],
       ['2020', c]
     ]);
     var options = {
       chart: {
         title: 'Success Summary'
       },
       colors: ['#4CAF50']
      // bars: 'horizontal' // Required for Material Bar Charts.
     };
     var chart = new google.charts.Bar(document.getElementById('barchart_material'));
     chart.draw(data, google.charts.Bar.convertOptions(options));
   }

function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

</script>
</html>
