<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= msgs.title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body>    
    <nav class="navbar navbar-default">
        <div class="container-fluid">     
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/restaurant_dashboard"><%= msgs.heading %></a></li>                
            </ul>  
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signin"><%= msgs.profile %> </a></li>
            <li><a href="/setting"><%= msgs.settings %></a></li>
          </ul>
        </div>
      </nav>
      <div class="sidenav">
        <div class="navbar-header" align='center'>           
            <a class="navbar-brand" href="/"><img class="logoimage" src="img/userlogo.jpg">
               <%= user.username %></a>       
        </div>
        <br><br>
        <br><br>
        <a href="/donate"><p><%= msgs.donate %></p></a>
        <a href="/donationshistory"><%= msgs.history %></a>
        <a href="/donationprocess"><%= msgs.process %></a>
        <a href="#clients"><%= msgs.profile %></a>
    </div>
      <div class="container">
          
          hello
          <div align="center">
            <a href="/donate" class="vertify-booking"><input type="submit" value="Donate Today!"
                    class="submit" id="submit" name="submit" /></a>
        </div>          
      </div>
</body>

</html>