<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= msgs.title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
    </script>
    <script type = "text/javascript">
       google.charts.load('current', {packages: ['corechart']});     
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>    
    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">     
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/restaurant_dashboard"><%= msgs.heading %></a></li>                
            </ul>           
        </div>
      </nav>
      <div class="sidenav">
        <div class="navbar-header" align='center'>           
            <a class="navbar-brand" href="/"><img class="logoimage" src="img/userlogo.jpg">
               <%= user.username %></a>       
        </div>
        <br><br>
        <br><br>
       
                  
    </div>-->
    <!--<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 bggreen verticalAlignCenter">    
      <ul class="nav navbar-nav">
       <br> <li><p class = "whiteBig"> <%= msgs.hello %> <%= user.username %> </p>   </li>       
      </ul>
      <ul class="nav navbar-nav navbar-center verticalAlignCenter">
    <br>  <li><p class = "whiteBig2"><%= msgs.heading %> </p> </li>                
    </ul>  
    </nav> -->
    <div id="mySidenav" class="sidenav" >
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <br><br><br>
      <a class = "active" href="/restaurant_dashboard"><%= msgs.title %></a> <br> 
      <a href="/donate"><%= msgs.donate %></a> <br> 
      <a href="/donationshistory"><%= msgs.history %></a> <br> 
      <a href="/donationprocess"><%= msgs.process %></a> <br> 
      <a href="/restchat">CHAT</a> <br> 
      <a href="/rest_profile"><%= msgs.profile %></a>   <br>   
      <a href="/"> <%= msgs.logout %></a>     <br>       
    </div>
  <div id="main">
    
  
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!--    <div class="navbar-header">
            <a class="navbar-brand" href="/"><img class="logoimage" src="img/logo.JPG"></a>
          </div>-->
            <ul class="nav navbar-nav">
                <li> <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;  </span></li>
               
             <!--   <li><a href="/volunteer_dashboard"> <%= msgs.dashboard %> </a></li>
                <li class="active"><a href="/vol_profile"> <%= msgs.profile %> </a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <p class = "fontDashheading"><%= msgs.heading %></p>        
            </ul> 
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-brand" href="/"><img class="logoimage" src="img/logo.JPG"></a></li>               
              </ul>
        </div>
    </nav>

        <!--<nav class="d-none d-md-block bg-light sidebar greyShadowSidenav fullh" style="width: 170px;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/restaurant_dashboard"><p><%= msgs.title %></p></a>
              </li>
              <li class="nav-item">
                <a href="/donate"><p><%= msgs.donate %></p></a>
              </li>
              <li class="nav-item">
                <a href="/donationshistory"><p><%= msgs.history %></p></a>
              </li>
              <li class="nav-item">
                <a href="/donationprocess"><p><%= msgs.process %></p></a>
              </li>
              <li class="nav-item">
                <a href="/rest_profile"><p><%= msgs.profile %></p></a>
              </li>
            </ul>

          </div>
        </nav>-->





      <div class="container">
        <br>
        <img src="<%= imgNames.img_RESTDASH %>" alt="FoodStrap" style="width:100%;">
        <br><br>
        <div class="sectionDivider65">
        <div id="regions_div" ></div>
        </div>
        <div class="sectionDivider35 greyAndbig">
        <br><br>
       <p> <%= msgs.m1 %><%= msgs.m2 %><%= msgs.m3 %> </p>
          <br><br>
          <div align="center">
            <a href="/donate" class="vertify-booking"><input type="submit" value="<%= msgs.donatebutton %>"
                    class="submit" id="submit" name="submit" /></a>
        </div>   
      </div>       
      </div>
     
     
     
      
    </div>
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
      </script>
      <script type="text/javascript">
        google.charts.load('current', {
          'packages':['geochart'],
          // Note: you will need to get a mapsApiKey for your project.
          // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
          'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);
  
        function drawRegionsMap() {
          var c = <%- donCount %>;   
          var data = google.visualization.arrayToDataTable([
            ['Country', 'Portions Donated'],            
            ['United States', c]
           
          ]);
  
          var options = { colors: ['#4CAF50'],  legend: 'none'};
  
          var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
  
          chart.draw(data, options);
        }
      </script>
</body>

</html>