<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        /* side menu */

.sidenav2 {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #4CAF50; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav2 */
}

/* The navigation menu links */
.sidenav2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav2 a:hover {
  color: #FFFFFF;
}

/* Position and style the close button (top right corner) */
.sidenav2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav2 (less padding and a smaller font size) */


    </style>

</head>

<body>

<nav class="navbar navbar-default">
        <div class="container-fluid">
              <span onclick="openNav()" style="font-size:30px;cursor:pointer"> <a class="navbar-brand">&#9776;</a></span>
            <ul class="nav navbar-nav navbar-center">
                <li><p class="fontDashheading" style=" color: white;"><%=msgsValues.title%></p></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                   <li><a class="navbar-brand" href="/"><img class="logoimage" src="img/logo.JPG"></a></li>
            </ul>

        </div>
</nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
    <a href="/shelter_dashboard"><%= msgs.dashboard %></a> <br>
    <a href="/shelter_claim"><%=msgsValues.claim%></a><br>
    <a href="/past_claim"><%=msgsValues.history%></a><br>
    <a href="/shelter_profile" class="active"><%=msgsValues.profile%></a><br>
    <a href="/"><%=msgsValues.LOGOUT%></a><br>

  </div>
<div id="main">
  <div class="container greyShadow" style="color:#d8dde3">

      <div class="sectionDivider verticalAlignCenter">

          <br>
          <h4 class=" verticalAlignCenter"><%= name %> </h4>

          <img class="imgWidth2" src="img/sheltprofile1.png">
          <br><br><br>
      </div>
  <div class="sectionDivider verticalAlignCenter">
      <form id="profileupdate-form" action="/shelter_profile" method="post">
        <div class="form-group form-input">
            <input type="number" name="rphone" id="rphone" value= <%= profile.phone %> required />
            <label for="rphone" class="form-label"> <%= formFields.rphone %></label>
        </div>
        <div class="form-group form-input">
            <input type="email" name="remailid" id="remailid" value= <%= profile.emailid %> required />
            <label for="remailid" class="form-label"> <%= formFields.remailid %></label>
        </div>
        <div class="form-group form-input">
            <input type="text" name="raddr" id="raddr" value= <%= profile.addr %> required />
            <label for="raddr" class="form-label"> <%= formFields.raddr %></label>
        </div>
        <div class="form-group form-input">
            <input type="text" name="rcity" id="rcity" value= <%= profile.city %> required />
            <label for="rcity" class="form-label"> <%= formFields.rcity %></label>
        </div>
        <div class="form-group form-input col-md-6">
            <input type="text" name="rstate" id="rstate" value= <%= profile.state %> required />
            <label for="rstate" class="form-label"> <%= formFields.rstate %></label>
        </div>
        <div class="form-group form-input col-md-6">
            <input type="number" name="rzip" id="rzip" value= <%= profile.zip %> required />
            <label for="rzip" class="form-label"> <%= formFields.rzip %></label>
        </div>
      <br><br>
          <div class="form-submit">
              <a href="/shelter_profile" class="vertify-booking"><input type="submit" value="<%=msgsValues.update%>" class="submit"
                      id="submit" name="submit" /></a>
          </div>
      </form>
  </div>
</div>
</div>

</body>
<script type="text/javascript">
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

</script>

</html>
