<!DOCTYPE html>
<html lang="en">

<head>
    <title>FoodStrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDRKweM2yGEerUMgF-IArgf4YclbQU5PA&callback=initMap">
      </script>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>

/* side menu */
#map {
  height: 400px;
  width: 80%;
  margin-left: 20%;
  margin-right: 10%;
}
.sidenav2{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #4CAF50; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav2 */
}

/* The navigation menu links */
.sidenav2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav2 a:hover {
  color: #FFFFFF;
}

/* Position and style the close button (top right corner) */
.sidenav2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav2 (less padding and a smaller font size) */

</style>
</head>

<body>

  <nav class="navbar navbar-default">
          <div class="container-fluid">
                <span onclick="openNav()" style="font-size:30px;cursor:pointer"> <a class="navbar-brand">&#9776; </a></span>
              <ul class="nav navbar-nav navbar-center">
                  <li><p class="fontDashheading" style=" color: white;"><%= msgs.title %></p></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand" href="/"><img class="logoimage" src="img/logo.JPG"></a></li>
              </ul>
          </div>
    </nav>
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
      <a href="/shelter_dashboard" class="active"><%= msgs.dashboard %></a> <br>
      <a href="/shelter_claim"><%= msgs.claim %></a><br>
      <a href="/past_claim"><%= msgs.history%></a><br>
      <a href="/shelter_profile"><%= msgs.profile %></a><br>
      <a href="/"><%= msgs.LOGOUT %></a><br>

    </div>
<div id="main">
  <div class="container">
    <div class="row">
      <div class="sectionDivider65">
            <h4 align="center"> <%=msgs.loc%></h4>
              <p align="center"><%= shelter.addr %> ,<%= shelter.city %>, <%= shelter.state%> - <%=shelter.zip%> <p>
            <br></br>
            <div id="map"></div>
          </div>

          <div class="sectionDivider35 greyAndbig">
          <br><br>
          <br><br>
          <br><br>
          <h4><%= msgs.text %></h4>
          <br><br>
          <p><%= msgs.quote1 %></p><br>
          <p><%= msgs.p1 %> <%= msgs.p2 %> <%= msgs.p3 %></p>
       </div>
     </div>
      <% if(volCount != '0'){ %>
     <div class = "row">
          <div>
            <h4><%=msgs.side%></h4>
            <table class="table" align="center">
              <% for(var item in Volunteers) { %>
              <tr>
                <th><%= parseInt(item)+1 %></th>
                <td><%=Volunteers[item].name %></td>
              </tr>
              <% } %>
            </table>

          </div>
      </div>
      <% } %>
  </div>
</div>
</body>

<script>

function initMap() {
  var shelterPosition = {};
  fetch('http://localhost:5000/shelterPosition')
    .then((response) => {
      shelterPosition = response.json();
      return shelterPosition;
    })
    .then((data) => {
      console.log(data);
      //var restList = data.restList;
      var datapt = {
        lat: data.lat,
        lng: data.lng
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: datapt
      });
      var marker = new google.maps.Marker({
        position: datapt,
       // label: "R",
        map: map
      });
    })
}



function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

</script>
</html>
